@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("../../../public/fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@variant dark (&:where(.dark, .dark *));

:root {
  --red: #EB0028;
  --white: #FFFFFF;
  --white-r: #FAF5F6;
  --black: #0A0002;
  --logo-ink: #000000;

  --border: #E6E1E2;

  --txt-white-prim: #FAF5F6;
  --txt-white-sec: #ADAAAB;
  --txt-white-ter: #777474;

  --txt-black-prim: #0A0002;
  --txt-black-sec: #3C3234;
  --txt-black-ter: #8C8284;

  --bg: #FFFFFF;
}

@theme inline {
  --color-black: var(--black);
  --color-white: var(--white);
  --color-white-r: var(--white-r);
  --color-red: var(--red);

  --color-border: var(--border);

  --color-txt-white-prim: var(--txt-white-prim);
  --color-txt-white-sec: var(--txt-white-sec);
  --color-txt-white-ter: var(--txt-white-ter);

  --color-txt-black-prim: var(--txt-black-prim);
  --color-txt-black-sec: var(--txt-black-sec);
  --color-txt-black-ter: var(--txt-black-ter);
}

.dark {
  --bg: #1F1E1E;
  --border: #4D4B4B;
  --logo-ink: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  transition: background 0.3s, color 0.3s;
  font-family: Inter, Helvetica, sans-serif;
}
